.card-price{
    position: absolute;
    left: 20px;
}
.card-cart{
    position: absolute;
    right: 20px;
}
.card-body{
    position: absolute;
    bottom: 40px;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.logo {
    font-family:'Righteous', cursive;
}